# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/
.venv/

# VS Code
.vscode/

# PyCharm
.idea/

# Environment variables
.env

# Logs
*.log

# Build and distribution files
build/
dist/
*.egg-info/

# Unit test / coverage reports
.coverage
htmlcov/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# macOS
.DS_Store

# Windows
Thumbs.db